.noteWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: red;
    padding: 1rem;
    height: 3rem;
    width: 3rem;
    box-shadow: 0px 28px 31px rgba(109, 109, 112, 0.1);
}

.modeBtn {
    cursor: pointer;
    &.active {
        background: white;
    }
}
